@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600;700&family=Poppins:wght@400;500;700&display=swap");
/* font-family: 'Baloo Bhai 2', cursive;
font-family: 'Poppins', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  
 }
 html{
   scroll-behavior: smooth;
 }
body{
  overflow-x: hidden;
}
.max-width {
  padding: 0 80px;
  width: 100vw;
  margin: auto;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.747);
  position: fixed;
  width: 100vw;
  font-family: "Baloo Bhai 2", cursive;
  padding: 22px 0;
  transition: all 0.3s ease-in;
  z-index: 1;
}
.navbar.sticky {
  background-color: gold;
  padding: 12px 0;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .menu li a {
  display: block;
  color: white;
  font-size: 22px;
  margin-left: 20px;
  font-weight: 500;
  transition: color 0.3s ease-in;
}
.navbar .menu li a:hover {
  color: gold;
}
.navbar.sticky .menu li a {
  color: black;
}
.navbar.sticky .menu li a:hover {
  color: white;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .logo a {
  color: white;
  font-weight: 500;
  font-size: 37px;
}
.navbar.sticky .logo a span {
  color: black;
  transition: all 0.3s ease-in;
}
.navbar .logo a span {
  color: gold;
}
/* menu btn styling */
.menu-btn {
  color: white;
  font-size: 25px;
  cursor: pointer;
  display: none;
}
/* scroll up btn */
.scroll-up-btn{
  position: fixed;
  height: 45px;
  width: 42px;
  background: gold;
  right: 30px;
  bottom: 20px;
  text-align: center;
  line-height: 45px;
  color: white;
  z-index: 111;
  font-size: 30px;
  border-radius: 6px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in;
}
.scroll-up-btn.show{
  opacity: 1;
  pointer-events: auto;
  bottom: 30px;
}
/* home section styling */
.home {
  display: flex;
  background: url("/img/joshua-reddekopp-GkFQEOubrCo-unsplash.jpg") no-repeat center/cover;
  height: 100vh;
  color: white;
  min-height: 500px;
  font-family: "Baloo Bhai 2", cursive;
}
.home .max-width {
  margin: auto 0 auto 40px;
}
.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}
.home .home-content .text-3 {
  font-size: 40px;
}
.home .home-content .text-3 span {
  color: gold;
  font-weight: 500;
}
.home .home-content a {
  display: inline-block;
  background-color: gold;
  color: black;
  font-size: 30px;
  padding: 10px 34px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid gold;
  transition: all 0.3s ease;
}
.home .home-content a:hover {
  background: none;
  color: gold;
}

/* about section start */
section {
  padding: 100px 0;
}
.about,
.services,
.skills, 
.contact,
footer{
  font-family: "Poppins", sans-serif;
}

.about .title::after {
  content: "who i am";
}
.about .about-content,
.services .services-content,
.skills .skills-content,
.contact .contact-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about .about-content .left {
  width: 45%;
}
.about .about-content .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 10px;
}
.about .about-content .right {
  width: 55%;
}
.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.about .about-content .right span {
  color: gold;
}
.about .about-content .right p {
  text-align: justify;
}
.about .about-content .right a {
  display: inline-block;
  background-color: gold;
  color: black;
  font-size: 20px;
  font-weight: 500;
  padding: 2px 26px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid gold;
  transition: all 0.3s ease;
}
.about .about-content .right a:hover {
  color: gold;
  background: none;
}

section .title {
  font-family: "Baloo Bhai 2", cursive;
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 50px;
  padding-bottom: 10px;
  text-align: center;
  position: relative;
}
section .title::before {
  position: absolute;
  content: "";
  bottom: 6px;
  height: 3px;
  width: 200px;
  left: 50%;
  background-color: grey;
  transform: translateX(-50%);
}
section .title::after {
  position: absolute;
  bottom: -10px;
  left: 50%;
  color: gold;
  font-size: 20px;
  background-color: white;
  transform: translateX(-50%);
}
/* services section start styling */
.services {
  background-color: rgb(26, 21, 21);
  color: white;
  width: 100%;
}
.services .title::after {
  content: "what i provide";
  background: rgb(26, 21, 21);
}
.services .title::before {
  background: white;
}
.services .services-content .card {
  width: calc(33% - 20px);
  background: #222;
  text-align: center;
  border-radius: 10px;
  padding: 20px 25px;
  cursor: pointer;
}
.services .services-content .card i {
  font-size: 60px;
  color: gold;
}
.services .services-content .card .text {
  font-size: 30px;
  font-weight: 600;
  font-family: "Baloo Bhai 2", cursive;
  padding-bottom: 3px;
}
.services .services-content .card {
  border: solid 2px gold;
  transition: all 0.5s linear;
}
.services .services-content .card:hover {
  background: gold;
  color: black;
}
.services .services-content .card:hover i {
  color: white;
}


/* contact us styling start */
.contact{
  background-color: rgb(26, 21, 21);
  color: white;
  width: 100%;
}
.contact .title::after {
  content: "get in touch";
  background:rgb(26, 21, 21);
}
.contact .contact-content .column{
  width: calc(50% - 30px);
}
.contact .contact-content .text{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .contact-content .left p{
text-align: justify;
}
.contact .contact-content .left .icons{
margin: 10px 0;

}
.contact .contact-content .row{
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info{
  margin-left: 30px;
}
.contact .contact-content .row i{
  color: gold;
  font-size: 25px;
}
.contact .contact-content .row .info .head{
  font-weight: 500;

}
.contact .contact-content .row .info .sub-title{
  color: gold;
}
.contact .right form .fields{
  display: flex;
}
.contact .right form .field{
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}
.contact .right form input,
.contact .right form .textarea textarea{
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: 2px solid lightgrey;
  outline: none;
  padding: 0 15px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  resize: none;
}
.contact .right form .textarea{
height: 80px;
}
.contact .right form .name{
  margin-right: 10px;
}
.contact .right form .emoil{
  margin-left: 10px;
}
.contact .right form .button{
  height: 50px;
  width: 170px;
}
.contact .right form .button button{
  width: 100%;
  height: 100%;
  border: 2px solid gold;
  color: black;
  font-size: 20px;
  font-weight: 500;
  background-color: gold;
  border-radius: 10px;
  transition: all 0.3s ease-in;

}
.contact .right form .button button:hover{
  color: gold;
  background: none;
  cursor: pointer;
}

/* footer section styling */
footer{
  background: #222;
  padding: 20px 23px;
  color: white;
}
footer span a{ 
  color: gold;
  text-decoration: none;
}
footer span a:hover{
  text-decoration: underline;
}

/* responsive media query start */
@media (max-width: 1100px) {
  .about .about-content .column {
    width: 50%;
  }
}

@media (max-width: 989px) {
  .max-width {
    padding: 0 40px;
  }
  .home .max-width {
    margin-left: 0;
  }
  .menu-btn {
    display: block;
    z-index: 99;
  }
  .menu-btn i.active::before {
    content: "\f00d";
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: black;
    top: 0;
    left: -100%;
    text-align: center;
    padding-top: 60px;
    transition: all 0.5s ease-in;
    color: white;
  }
  .navbar .menu.active {
    left: 0%;
  }
  .navbar .menu li {
    display: block;
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 20px 0;
    font-size: 20px;
    transition: all 0.3s linear;
  }
  .navbar .menu li a:hover {
    color: gold;
  }
  .home .home-content a {
    font-size: 25px;
    padding: 8px 28px;
  }

  .about .about-content {
    display: flex;
    flex-direction: column;
  }
  .about .about-content .column {
    width: 100%;
  }
  .about .about-content .left {
    display: flex;
    justify-content: center;
    margin: 0 60px;
  }
  .about .about-content .left img {
    height: 320px;
    width: 320px;
    margin-bottom: 20px;
  }
  .about .about-content .right {
    flex: 100%;
  }
  .services .services-content,
  .contact .contact-content {
    display: flex;
    flex-wrap: wrap;
  }
  .services .services-content .card {
    width: calc(50% - 20px);
    margin: 15px 0;
  }
  .skills .skills-content .card {
    width: calc(33% - 20px);
    margin: 15px 0;
  }
  .skills .skills-content .card .text {
    font-size: 25px;
  }
  .contact .contact-content .column{
    width: 100%;    
  }
}
@media (max-width: 659px) {
  .max-width {
    padding: 0 20px;
  }
  .home .home-content .text-2 {
    font-size: 55px;
  }
  .home .home-content .text-3 {
    font-size: 25px;
  }
  .home .home-content a {
    font-size: 20px;
    padding: 6px 24px;
  }
  .services .services-content .card {
    width: 100%;
  }
  .skills .skills-content .card {
    width: calc(50% - 20px);

    margin: 8px;
    padding: 10px 10px;
  }
  .skills .skills-content .card i {
    font-size: 22px;
  }
}

